# Node modules and build output
node_modules/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

lerna-debug.log*

# OS
.DS_Store

# Test coverage
coverage/
.nyc_output/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore all env files except env.example
.env
.env.*
!env.example

# Temp directories
.temp/
.tmp/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.*.json

# Ignore generated Prisma client
src/generated/prisma/
/generated/prisma
